body {
  background-color: #eee;
}

#root {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  margin: 15px;
  background-color: white;
}

.tab {
  padding: 25px;
  font-family: sans-serif;
  color: #444;
  min-height: 400px;
}

.pending {
  transition: color 0.1s;
  transition-delay: 0.3s;
  transition-timing-function: ease-in;
  color: #888;
}

ul.inline {
  list-style: none;
  padding: 0;
  margin-bottom: 0;
}
li {
  display: inline-block;
  margin-left: 0;
  padding: 10px;
  border-bottom: 2px solid #eee;
  transition: all 0.5s;
  font-family: sans-serif;
  font-weight: 300;
  cursor: pointer;
  color: #aaa;
}
.selected {
  border-bottom: 2px solid #337ab7;
  color: #444;
}
.loader {
  color: #888;
  font-size: 16px;
  font-weight: 600;
  width: 80px;
}
@keyframes Indeterminate {
  0% {
    transform: translateX(-100%);
  }
  20% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}
.is-loading .global-loader-fill {
  transition: none;
  opacity: 1;
  animation: Indeterminate 10s ease-out;
  animation-fill-mode: forwards;
}
.is-initing .global-loader-fill {
  transition: none;
  opacity: 1;
  animation: Indeterminate 5s ease-out;
  animation-fill-mode: forwards;
}
.global-loader-fill {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 200%;
  transform: translateX(0);
  opacity: 0;
  transition: transform 2s ease, opacity 1s ease;
  background: linear-gradient(
    to right,
    rgba(52, 82, 255, 0.93) 0%,
    rgba(255, 16, 83, 0.92) 99%,
    rgba(255, 255, 255, 1) 100%
  );
}
.global-loader-fill::after {
  display: block;
  content: ' ';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}
.global-loader {
  height: 2px;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 9999;
}
