.wrapper {
  width: 100%;
  height: 100%;
  background: lightblue;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  grid-gap: 25px;
  padding: 25px;
  background: white;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.05);
  will-change: width, height;
}

.item {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 5px;
  will-change: transform, opacity;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  will-change: transform;
}

.page > div {
  touch-action: none;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  will-change: transform;
  box-shadow: 0 62.5px 125px -25px rgba(50, 50, 73, 0.5), 0 37.5px 75px -37.5px rgba(0, 0, 0, 0.6);
}

.container {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
}